body {
    background:#CC9011;
    font-family:Arial, Arial, Helvetica, sans-serif;
}

.assignment {
    display:flex;
    padding:10px;
    margin:10px;
    background:#D7DCD0;
}

.assignment img {
    width:200px;
    padding:0px;
    border: 3px solid #9BB5BF;
    margin-right: 20px;
}

h1 {
    color:#0A1326;
    text-align:center;
}

a { /* a is "anchor" */
    text-decoration:none;
    /* ^This gets rid of the underline under links */
    color:#122640;
}
